/* src/components/ChatWidget/ChatIcon.module.css */

.chatIconButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--ifm-color-primary);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* z-index: 2147483647; */
  transition: background-color 0.3s ease;
}

.chatIconButton:hover {
  background-color: var(--ifm-color-primary-dark);
}
